.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart h2 {
    width: 80%;
    margin: 10px 0 0 0;
    background: #27AE60;
    color: #fff;
    padding: 25px 25px 25px 15px;
    border-radius: 5px 5px 0px 0px;
    font-size: 18px;
}

.cart__products {
    width: 80%;
    background: #F5F5F5;
    padding: 25px 25px 25px 15px;
    text-align: center;
}

@media screen and (min-width: 910px) {
    .cart {
        width: 30%;
        max-height: 420px;
        position: fixed;
        top: 32%;
        right: 0;
        left: 70%;
        transform: translateY(-50%);
    }
}