.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(245, 245, 245, 1);
    padding-bottom: 15px;
}

.navigation span {
    font-size: 16px;
    color: #EB5757;
}

.div__input-search {
    width: 285px;
    border: 2px solid rgba(224, 224, 224, 1);
    background-color: #FFF;
    padding: 5px 3px;
    border-radius: 8px;
}

.input__search {
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 10px;
}

.input__search::placeholder {
    color: rgba(224, 224, 224, 1);
}

.button {
    background-color: rgba(39, 174, 96, 1);
    padding: 8px;
    border-radius: 8px;
    border: 2px solid #27AE60;
    color: #FFF;
    font-size: 14px;
}

@media screen and (min-width: 700px) {
    .navigation {
        flex-direction: row;
        justify-content: space-around;
    }

    .div__input-search {
        width: 400px;
    }
    
    .span__button {
        position: absolute;
        left: 77%;
    }
}